<img src="assets/mongodb_logo.svg" alt="MongoDB logo" class="logo">
<h1>
  Event-driven web UI with Atlas App Services and Angular
</h1>
<div>
  Authentication: {{ authStatus }}
</div>
<div>
  Status Update Subscription: {{ subscriptionStarted ? 'Started' : 'Not Started' }}
</div>
<div>
  <input type="button" (click)="startSubscription()" [disabled]="subscriptionStarted" value= "Start Subscription" />
</div>
<hr>
<ng-container *ngFor="let device of devices; index as i;">
  <app-device [device]="device"></app-device>
</ng-container>
<hr>
<div *ngIf="subscriptionStarted">
  Status Update Subscription Log:
<pre>
{{subscriptionLog}}
</pre>
</div>
